extends layout

block content
  .main
    .mainHeading
      h2 About
    .mainInfo
      p.mainContent This app is designed to help the Rapids Bistro staff stay updated with things that are going on in the restaurant.
      p.mainContent Important information that everyone needs to know about?
      p.mainContent Post it here.
      p.mainContent Does the next shift need to know about something?
      p.mainContent Post it here.
    
    