extends layout

block content
  .main
    if errors
      each error, i in errors
        .alert.alert-danger.messageCont #{error.msg}
    .mainHeading
      h2 #{title}
    form(method='POST', action='/news/add', enctype='multipart/form-data')
      #form-group
        label Title:
        if article
          input.form-control(name='title', type='text', value=article.title)
        else
          input.form-control(name='title', type='text')
      #form-group
        label Body:
        if article
          textarea.form-control(name='body')= article.body
        else
          textarea.form-control(name='body')
      #form-group
        label Image (optional):
        input.form-control(name='articleImage', type='file')
      input.btn.btn-primary(type='submit', value='Submit')