extends layout

block content
  .main.container-fluid
    h1.mainHeading.display-4= article.title
    h3.mainContent Posted by: #{article.author}
    p.mainContent= article.body
    hr
    if currentUser == article.author
      a.btn.btn-primary.mr-2.mb-6(href='/news/edit/'+article._id) Edit
      a.btn.btn-danger.delete-article(href='#', data-id=article._id) Delete