extends layout

block content
  .main
    if errors
        each error, i in errors
          div(class='alert alert-danger messageCont') #{error.msg}
    .row1
      h1.mainHeading.display-3 #{title}
      form(method='POST', action='/profile/edit')
        #form-group.mt-2
          label New email (this will change your login name as well!):
          input.form-control(name='email', type='text', value=user.email)
        #form-group.mt-2
          label Phone:
          input.form-control(name='phone', type='text')
        #form-group.mt-2
          label Position:
          input.form-control(name='position', type='text')
        input.btn.btn-primary.mt-2(type='submit', value='Submit')
        a.btn.btn-danger.cncl(href='/profile') Cancel