extends layout

block content
  .main
    .mainHeading
      h2 Rapids Updater
    .heroImage
      img.hero(src='images/rapids.jpg' alt='Rapids Bistro')
    .mainInfo
      p.mainContent Welcome to the Rapids Updater. This is a place where the Rapids staff can keep updated with what is going on in the restaurant. This is where information that everyone needs to know can be posted. This is also a good place to share information from one shift to the next.
      p.mainContent The best teams in the world work together and communicate efficently.