extends layout

block content
  .main
    != messages('message', locals)
    .mainHeading
      h2 Log In
    form(method='POST' action='/login')
      div.form-group
        label(for='email') E-mail
        input.form-control(type='text' id='email' placeholder='name@email.com' name='email')
      div.form-group
        label(for='password') Password
        input.form-control(type='password' id='password' placeholder='Password' name='password')
      button.btn.btn-primary(type='submit') Log In