extends layout

block content
  .main
    != messages('message', locals)
    .mainHeading
      h2 #{title}
    .mainInfo
      p.mainContent This is where you will post news that everyone needs to know
    .list-group
      each article, i in articles
        a.list-group-item.list-group-item-action.border.border-primary(href="/news/"+article._id)= article.title