:root{
  --mainHeading: #0763C3;
  --mainText: rgba(255,255,255,.5);
  --footerText: #373839;
}

body{
  background-color: #12171C;
}

a:visited{
  color: none;
}

/* Containers */
/* Profile Page */


.row{
  align-self: center;
}

.profilePos{
  display: grid;
}

.profilePos h4, .email h4{
  margin: 0 0 0 1rem;
  line-height: 1.5;
}

.profilePos h3, .email h3{
  margin: 0;
}

.profileBtn{
  color: white;
}

form{
  margin-top: 1.5rem;
  padding-bottom: 4rem;
}

.footer{
  background-color: #12171C;
}

.errordiv{
  color: var(--mainText);
}

.alert-error{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/* Text Colors */
.mainHeading{
  color: var(--mainHeading);
  text-align: center;
}

.mainContent{
  color: var(--mainText);
}

.footerText{
  color: var(--footerText);
}

label{
  color: var(--mainText);
}



/* Images */
.hero{
  width: 300px;
  height: 200px;
  margin: 1.5rem auto;
}

.last{
  padding-bottom: 4rem;
}

.cncl{
  margin: .5rem 0 0 1rem;
}

/* Profile Page */
.main{
  margin-top: 4rem;
  margin-bottom: 3rem;
  padding: 0 1rem 0 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(0px, auto);
}

.avatar{
  width: 65px;
  border: solid 2px rgba(255,255,255, .95);
  border-radius: 50%;
}

.avatarImg, .profileHead{  
  justify-self: center;
}

.profileHeading, .emailHead, .phoneHead, .positionHead{
  color: var(--mainHeading);
}

.emailHead h6, .positionHead h6, .phoneHead h6{
  margin: 0;
}

.profileEdit{
  margin-bottom: 1rem;
}