:root{
  --mainHeading: #0763C3;
  --mainText: rgba(255,255,255,.5);
  --footerText: #373839;
}

body{
  background-color: #12171C;
}

a:visited{
  color: none;
}

/* Containers */
.main{
  margin-top: 4rem;
}

form{
  margin-top: 1.5rem;
}

/* Text Colors */
.mainHeading{
  color: var(--mainHeading);
}

.mainContent{
  color: var(--mainText);
}

.footerText{
  color: var(--footerText);
}

label{
  color: var(--mainText);
}