/* color and font variables */
:root{
  --mainHeadingColor: #0763C3;
  --mainTextColor: rgba(255,255,255,.5);
  --footerTextColor: #373839;
  --mainHeadingFont: 'Montserrat', sans-serif;
  --mainTextFont: 'Lato', sans-serif;
}

/* Resets */
h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
  padding: 0;
}

/* General page setup */
body{
  background-color: #12171C;
}

a:visited{
  color: none;
}

.main{
  margin-top: 4rem;
  margin-bottom: 3rem;
  padding: 0 1rem 0 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(0px, auto);
}

/* Profile Page */
.profileHead{
  margin-bottom: .75rem;
}

.profileHeading{
  font-family: var(--mainHeadingFont);
}

.avatar{
  width: 65px;
  height: 65px;
  border: solid 2px rgba(255,255,255, .95);
  border-radius: 50%;
}

.avatarImg, .profileHead{  
  justify-self: center;
}

.profileHeading, .emailHead, .phoneHead, .positionHead{
  color: var(--mainHeadingColor);
}

.email h6, .phone h6, .position h6{
  font-family: var(--mainTextFont);
}

.emailHead h6, .positionHead h6, .phoneHead h6{
  margin: .75rem 0 0 0;
  font-family: var(--mainHeadingFont);
}

.profileEdit{
  margin: 1rem 0 .5rem 0;
}





.row{
  align-self: center;
}

.profilePos{
  display: grid;
}

.profilePos h4, .email h4{
  margin: 0 0 0 1rem;
  line-height: 1.5;
}

.profilePos h3, .email h3{
  margin: 0;
}

.profileBtn{
  color: white;
}

form{
  margin-top: 1.5rem;
  padding-bottom: 4rem;
}

.footer{
  background-color: #12171C;
}

.errordiv{
  color: var(--mainTextColor);
}

.alert-error{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/* Text Colors */
.mainHeading{
  color: var(--mainHeadingColor);
  text-align: center;
}

.mainContent{
  color: var(--mainTextColor);
}

.footerText{
  color: var(--footerTextColor);
}

label{
  color: var(--mainTextColor);
}



/* Images */
.hero{
  width: 300px;
  height: 200px;
  margin: 1.5rem auto;
}

.last{
  padding-bottom: 4rem;
}

.cncl{
  margin: .5rem 0 0 1rem;
}

